@{
    ViewData["Title"] = "About Us";
}

<h1>We are a capable development company.</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis debitis, deserunt quasi quia deleniti praesentium earum vero excepturi ea, corporis quod maxime nesciunt voluptatem porro, sunt ipsam alias fuga illo?</p>
<p class="lead">
    <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Contact For More info</a>
</p>